/* general */
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --my-bg-searchbar: #e5e5e5;
  --my-bg-body: #f8f9fa;
  --my-sidebar: #0f263d;
  --my-navbar: #1b72e8;
  --my-bell: #ff8f00;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--my-bg-body);
}
header {
  width: 100%;
  height: 80px;
}
main {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
}
#sidebar {
  width: 70px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--my-sidebar);
  overflow: hidden;
}
#main-content {
  width: 100%;
  overflow-y: auto;
}

/* header */
.my-img {
  height: 60px;
}
.has-search .form-control {
  padding-left: 2.375rem;
  background-color: var(--my-bg-searchbar);
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  border-radius: 20px;
  text-align: center;
  pointer-events: none;
  background-color: var(--my-bg-searchbar);
}
.fa-bell {
  color: var(--my-bell);
}

/* content */
.avatar {
  width: 30px;
  margin-right: 10px;
}

.no-display > td:nth-child(2),
.no-display > td:nth-child(3),
.no-display > th:nth-child(2),
.no-display > th:nth-child(3) {
  display: none;
}
.todo-list {
  margin: 0;
  padding: 5px 0 5px 40px;
}

/* hover sidebar */
.sidebar-menu li:hover {
  background-color: var(--my-bg-searchbar);
  transition: all 0.3s;
}

/* media query */
@media screen and (min-width: 992px) {
  #sidebar {
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .no-display > td:nth-child(2),
  .no-display > td:nth-child(3),
  .no-display > th:nth-child(2),
  .no-display > th:nth-child(3) {
    display: table-cell;
  }
}
