/* general */
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --my-bg-searchbar: #e5e5e5;
  --my-bg-body: #f8f9fa;
  --my-sidebar: #0f263d;
  --my-navbar: #1b72e8;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--my-bg-body);
}
header {
  width: 100%;
  height: 70px;
}
main {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
}
#sidebar {
  width: 150px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--my-sidebar);
  /* overflow: hidden; */
}
#main-content {
  width: calc(100% - 150px);
  overflow-y: auto;
}
